.smurf-list{
width: 600px;
margin-left: auto;
display: flex;
justify-content: center;
align-items: center;
background: whitesmoke;
}

p{
    width: 550px;
    margin-left: auto;
    display: flex;
    align-items: center;
    /* background: red; */

}

.button{
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background: black;
    border-radius: 45px;

}