.smurf-card{

background: whitesmoke;
}

p{
    width: 550px;
    margin-left: auto;
    display: flex;
    align-items: center;
    /* background: red; */

}

.button{
    width: 200px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background: black;
    border-radius: 45px;

}
.add-and-retrieve{
    width: 10px;
    display: flex;
    flex-direction: column;



}
.add-button{
    width: 200px;
    height: 40px;
    background: black;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    border-radius: 45px;

}
.input-form{
    width: 400px;
    height: 40px; 
}